*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav{
    background: #222;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size:18px;
}

nav ul li a:hover {
    color:  #f39c12;
}

#home {
    background: url('./IMG/FundoTech.jfif') center/cover no-repeat;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1 {
    font-size: 40px;
}

#home p {
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

section {
    padding: 80px 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label {
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

form input, form textarea {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #222;
    color: white;
    padding: 10px;
    cursor:pointer;
}

form button:hover {
    background: #f39c12;
    
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

.videoum {
    display: flex;
    justify-content: center;
}

.centralizar {
    text-align: center;
}

.burger {
    color : white ;
    display: flex;
    justify-content: flex-start;
}
